xarray==0.20.0
git+https://github.com/intake/kerchunk.git@0.0.5
zarr
dask-cloudprovider==2021.9.0
distributed==2021.9.0
dask-cloudprovider==2021.9.0
jedi==0.17.2 
s3fs
fsspec
numcodecs
blosc
lz4
cloudpickle==2.0.0
pandas==1.3.0
