xarray==0.20.0
git+https://github.com/intake/kerchunk.git@0.0.5
zarr
dask-cloudprovider==2021.9.0
distributed==2021.9.0
dask-cloudprovider==2021.9.0
jedi
s3fs
fsspec
numcodecs
blosc
lz4
cloudpickle==2.0.0
pickle5
pandas
retry
click==8.0.4
xarray[complete]
